
p {
	color: navy;
  }
  
  p.info {
	font-size: small;            
	background-color: #dfdfdf;   
  }
  

  div#zentai {
	display: grid;              
	grid-template-columns: 1fr 1fr; 
	grid-gap: 10px;             
	width: 1024px;
  }
  
  div#zentai > div {
	background-color: #ffefaf;    
	padding: 5px;                 
	height: 200px;                
  }
  


	h1 {
		color: white;                            
		text-shadow: 2px 2px 10px navy;  
	}        
  

  h2 {

	margin: 5px;
  }
  
  h2 {
	font-family: cursive;       
	color: #3f3faf;              
	background: linear-gradient(to right, white, #ffefaf); 
  }

  img.logo{
	float: right;
  }
  

  